---
import { getEntryBySlug, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { slug: post.slug }
  }));
}

const { slug } = Astro.props;
const post = await getEntryBySlug('blog', slug);

if (!post) {
  throw new Error(`Blog post not found for slug: ${slug}`);
}

const { Content } = await post.render();
const { data } = post;
---

<Layout title={data.title}>
  <article class="blog-post">
    <h1>{data.title}</h1>
    <p><small>{data.pubDate.toDateString()}</small></p>
    <Content />
  </article>
</Layout>
