---
import background from "../assets/background.svg";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
const projects = [
    {
        title: "WVCams – Live Traffic Cameras Across West Virginia",
        description:
            "WVCams is a lightweight web app that provides real-time access to traffic cameras across West Virginia, including I-64, I-77, and other major roadways. Built for speed, reliability, and mobile-first usability, WVCams helps drivers, commuters, and travelers stay informed with live road conditions, closures, and crash updates—all in one place.",
        image: "/wvcam-proj.png",
        urlGitHub: "",
        urlDemo: "https://wvcams.com",
        featured: true,
    },
    {
        title: "LLM-Integrated Control API for Anki Vector via WirePod",
        description:
            "A custom-built API layer that enhances Anki Vector with natural language capabilities by integrating a local LLM into the WirePod robotics framework. This project bridges conversational AI with embedded robotics, enabling Vector to parse, interpret, and respond to complex voice commands in real time. Designed for developers and roboticists, it extends Vector’s autonomy without relying on cloud services.",
        image: "/vector-proj.png",
        urlGitHub: "https://github.com/kuel321/wire-pod",
        urlDemo: "",
        featured: true,
    },  {
        title: "AI Traffic Estimation System",
        description:
            "A Python-based traffic estimator that predicts road congestion levels using live or historical data. Designed for quick deployment and easy integration with traffic APIs or datasets.",
        image: "/car-proj.png",
        urlGitHub: "https://github.com/kuel321/TrafficEstimatorAI",
        urlDemo: "",
        featured: false,
    },{
        title: "Tiny Mailbox – A Minimalist Email Client",
        description:
            "A lightweight mailbox app built with Preact, offering fast performance and minimal UI for viewing and organizing messages. Ideal for embedding or customizing in small-scale projects.",
        image: "/js-mail-prof.png",
        urlGitHub: "https://github.com/kuel321/QuickRead",
        urlDemo: "",
        featured: false,
    },
];
---

<Layout>
    <div class="welcome-container" id="container">
        <main>
            <img
                id="background"
                src={background.src}
                alt=""
                fetchpriority="high"
            />

            <Hero
                hero_title="Projects"
                tagline=""
                social={{
                    linkedin: "https://linkedin.com/in/lukeshort",
                    github: "https://github.com/lukeshort",
                    email: "lukeshort321@gmail.com",
                }}
            />

            <section></section>

            <section class="projects projects-page">
                <div>
                    <h2>All Projects</h2>
                    <p>
                        I can't show you my actual client work, but here are
                        some personal projects I'm proud of.
                    </p>
                    <div class="project-grid">
                        {projects.map((p) => <ProjectCard {...p} />)}
                    </div>
                </div>
            </section>

         

    <Footer />
        </main>
    </div>
</Layout>
